@import url('https://fonts.googleapis.com/css?family-Nunito:400,700|Lato:400,800,900');


$control-border-width:2px;
$input-border-color: transparent;
$input-shadow:none;


html, body {
    height:100%;
}

html{
    background-color: rgb(211, 24, 24);
    background-size: cover;

    overflow-y:auto !important;
}